
--extra-index-url https://download.pytorch.org/whl/cpu/torch_stable.html

torch==1.12.1 #+cpu 
python-dotenv==0.17.1
transformers==4.5.1

pipeline-ai==0.0.50 

dill==0.3.5.1
openai==0.26.0 

word2number==1.1 
